<!--TODO:
Card that takes in an image, name, and maybe description from the recipe service.
On the bottom third, there will be a gradient background on top of the image, and the name of the recipe and the description will be there.
There will be an on-hover expansion of the card, perhaps even expanding in such a way that the full description is readable
-->


<span *ngIf="recipeCard as recipeCard; else loading">
  <mat-card class="card-container" (click)="recipeNavigation()">
    <mat-card-header>
      <mat-card-title>{{recipeCard.recipeName}}</mat-card-title>
    </mat-card-header>
   <!-- <img mat-card-image [src]="recipeCard.recipeImageUrl" [alt]="recipeCard.recipeDescription" > -->
   <img mat-card-image src="../../../../assets/test-img.jpg" [alt]="recipeCard.recipeDescription">
    <mat-card-content>
      <p>
        {{recipeCard.recipeDescription}}
      </p>
    </mat-card-content>
  </mat-card>
</span>


<ng-template #loading>
  <mat-card style="max-width: 300px;">
    <mat-card-header>
        <mat-progress-bar mode="indeterminate"/>
    </mat-card-header>
    <mat-card-content style="align-items: center;">
        <mat-spinner/>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-template>
