.content {
  display: grid;
  margin:  0 20%;
  max-width: 60%;
  align-items: center;
}

.hack-element {
  height: 10%;
}

//TODO - looks like media queries like this don't do the trick, anymore
@media (max-width: 600px) {
.hack-element {
  height: 20%;
}
 }


