/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p, h1, h2 {
  word-wrap: break-word;
  white-space: pre-wrap;
}

p {
  margin: 0;
}

@media print {
  //Hide everything
  body * {
    visibility: hidden;
  }
  //For whatever you want to print, wrap it in a div with this id
  #dataToPrint * {
    visibility: visible;
  }

  #dataToNotPrint * {
    visibility: hidden;
  }

  .content {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.dense-3 {
  @include mat.all-component-densities(-3);
}


