/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p, h1, h2 {
  word-wrap: break-word;
  white-space: pre-wrap;
}

p {
  margin: 0;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height:auto;
}

.heading-class {
  line-height: normal;
  padding-bottom: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-block-start: 0px;
}

@media print {
  //Hide everything
  body * {
    visibility: hidden;
  }
  //For whatever you want to print, wrap it in a div with this id
  #dataToPrint * {
    visibility: visible;
  }
  // For
  .content {
    position: fixed;
    top: 0;
    left: 0;
  }
}
